.countdown_container {
  display: flex;
  align-items: center;

  font-family: Rajdhani;
  font-weight: 600;
  color: var(--text-title);

  > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--secondary-background);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;

    span {
      flex: 1;

      &:first-child {
        border-right: 1px solid var(--primary-background);
      }

      &:last-child {
        border-left: 1px solid var(--primary-background);
      }
    }
  }

  > span {
    font-size: 6.25rem;
    margin: 0 0.5rem;
  }
}

.countdown_button {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: var(--text-white);
  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.2s, color 0.2s;

  div {
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url('/icons/play_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center;
  }

  &:hover {
    background: var(--blue-dark);
  }

  &.active {
    background-color: var(--white);
    color: var(--text-title);

    &:hover {
      background-color: var(--red);
      color: var(--text-white);

      span {
        background-image: url('/icons/close_white.svg');
      }
    }

    span {
      background-image: url('/icons/close.svg');
    }
  }

  &.complete {
    background-color: var(--white);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 4px solid var(--green);

    &:hover {
      background: var(--white);
    }

    span {
      background-image: url('/icons/check_circle.svg');
    }
  }
}
