.experience_bar {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }

  > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color: var(--grey);

    margin: 0 1.5rem;
    position: relative;

    .current_xp_bar {
      height: 4px;
      border-radius: 4px;
      background-color: var(--green);
    }

    .current_xp_text {
      position: absolute;
      top: 12px;
      transform: translateX(-50%);
    }
  }
}
